<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="description" content="아이돌, 유명 연예인 SNS 이미지 모음 | 돌픽">
<meta name="keywords" content="짤빵, 이미지, 아이돌, 유명 연예인, SNS,트위터, 인스타그램, 페이스북">
<meta property="og:title" content="DolPic">
<meta property="og:type" content="article">
<meta property="og:image" content="../../images/icon.png">
<meta property="og:description" content="아이돌, 유명 연예인 SNS 이미지 모음 | 돌픽">
<title>돌픽 | 아이돌, 유명 연예인 SNS 이미지 모음</title>
<link rel="stylesheet" type="text/css" href="../../css/common.m.css">
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>

<body><a name="top"></a>
<!-- 상단바 -->
<div class="tbar">
	<div class="wrapper">
		<h1><a href="#"><img src="../../images/logo.png" width="18" height="18" alt="DolPic logo"> DolPic</a></h1>
		<div class="btn_subscription" title="구독 관리"></div>
	</div>
</div>

<!-- 404 Error -->
<div class="error404_box"></div>
<div class="black_bg"></div>

</body>
</html>
