<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="description" content="아이돌, 유명 연예인 SNS 이미지 모음 | 돌픽">
<meta name="keywords" content="짤빵, 이미지, 아이돌, 유명 연예인, SNS,트위터, 인스타그램, 페이스북">
<meta property="og:title" content="DolPic">
<meta property="og:type" content="article">
<meta property="og:image" content="../../images/icon.png">
<meta property="og:description" content="아이돌, 유명 연예인 SNS 이미지 모음 | 돌픽">
<title>돌픽 | 아이돌, 유명 연예인 SNS 이미지 모음</title>
<link rel="stylesheet" type="text/css" href="../../css/common.m.css">
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>

<body><a name="top"></a>
<!-- 상단바 -->
<div class="tbar">
	<div class="wrapper">
		<h1><a href="#"><img src="../../images/logo.png" width="20" height="20"> DolPic</a></h1>
		<div class="btn_login" title="로그인"></div>
	</div>
</div>

<!-- 갤러리 -->
<div class="login_box">
	<p>아이돌, 유명 연예인 SNS 이미지를 한 번에 모아보세요.</p>
	<input type="text" placeholder="아이디">
	<input type="password" placeholder="password">
	<div class="clear"></div>
	<div class="signup_text">
		해당 가입 정보는 SNS 이미지<br>
		구독 관리를 위해서만 사용됩니다.
	</div>
	<div class="btn_signup">회원가입</div>
	<!-- SNS 로그인 -->
	<div class="btn_login login_nv">네이버</div>
	<div class="btn_login login_kk">카카오톡</div>
	<div class="btn_login login_fb">페이스북</div>
	<div class="signup_text"><a href="login_mo.html" target="_self">로그인 &gt;&gt;</a></div>
</div>
</body>
</html>
